/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 13, 2017, 5:05:54 PM
    Author     : ramourya
*/


#body{
	
	height:100%;
	width:100%;
	background:white;
	
}
#t1{
	
	table-layout:fixed;
	width:960px;
	border:1px teal groove;
	visibility:visible;
	
	
}
#d1{
	width:260px;
}
#mainDiv{
	height:760px;
	width:100%;
	margin:0px;
	background:white;
}

#headerDiv{
	
	height: 60px;
	width:100%;
	float:left;
}
#markerDiv{
	
	height:4pt;
	width:100%;
	background:#999999;
	float:left;
}
.linkclass a{
	text-decoration:none;
	color:#0099CC;
	 font-size:small;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}
t1 {
	
	
	border-style:none;
}
#loading-image {
  position: absolute;
  top: 300px;
  left: 540px;
  z-index: 200;
}
#contentDiv{
	
	
	background-color:#ffffff;
	width:100%;
	height:560pt;


}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
#tableDiv{
	
    background-color:#0085D5;
	width:138pt;
	height:190pt;
	display:block;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
 .table1{
	width:120pt;
	 text-align:left;
	  margin-left:4px;
	  padding-top:10px;
	 
}
.table1 a{
	text-decoration:none
}
.tbodyClass{
	padding:0px;
}
#tableDiv2{
	margin-top:10pt;
	width:136pt;
	height:60pt;
	background:#E0E0E0;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;

}
#tableDiv3{
	margin-top:10pt;
	width:136pt;
	height:60pt;
	background:#E0E0E0;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;

}

#tableHeader{
	height:16pt;
	width:136pt;
	border-top-left-radius: 10px;
	background:#0085D5;
	
	text-align:left;
}
.headingClass{
	color:#0085D5;
	font-size:large;
	padding-left:-600pt;
}
.tbody{
	display:block;
	vertical-align:middle;
	border-color:inherit;
}
#tabLoc{
	
	 
}
#savetext{
  
	padding-left:0pt;
}
#galLeftDiv{
	 width:0pt;
	 height:400pt;
}
#January2016{
	margin-left:60pt;
	padding-left:140pt;

	
}
.December{
	margin-left:60pt;
	 padding-left:140pt;
	 position:static;
	 top:inherit;
}
.July{
	margin-left:60pt;
	padding-left:140pt;
}

.January{
	margin-left:0pt;
	padding-left:0pt;
}
.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.image:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

#searchDiv {
border-bottom-color:blue;
padding-top:2pt;
}

#searchDiv input {
width: 140px;
height: 20px;
margin: 0px;
padding: 0px;
border-top: 1px solid #999;
border-left: 1px solid #999;
border-bottom: 1px solid #999;
border-right: 1px solid #999;
outline: none;
text-indent: 4px;
}

#searchButton {
*padding-top: 1pt; /* IE7 Hack */
}
#sButton{
    padding-top:10pt;
	padding-left:46pt;
	border-color: #9bc7de transparent;
	border-width: 4px 4px 0 4px ;

}
.highlighted{
 border-bottom-color:red;	
  color:fuchsia;
  
  }
  #con{
   border-color: #9bc7de transparent;
   /* border-width: 0.6px 0.6px 0 6px ; */
	border-width:1px 2pt 0px 2pt;
    padding: 4px;
    margin: 0 auto;
    /*position:absolute; */
  height:30px;
    width: 114px;


    /* Styles */
    background: white;
    color: #00264d;
    outline: none;
    cursor: pointer;
    text-align:center;

    /* Font settings */
    font-weight: bold;
}
#conti{
	 border-color: #9bc7de transparent;
   /* border-width: 0.6px 0.6px 0 6px ; */
	border-width:1px 2pt 0px 2pt;
    padding: 4px;
    margin: 0 auto;
    /*position:absolute; */
  height:30px;
    width: 114px;


    /* Styles */
    background: white;
    color: #00264d;
    outline: none;
    cursor: pointer;
    text-align:center;

    /* Font settings */
    font-weight: bold;

	
}
#mon{
    border-color: #9bc7de transparent;
    border-width: 1.4px 1.4px 0 8px  ;
    height:30px;
    width: 114px;
    padding: 4px;
    margin: 0 auto;

    /* Styles */
    background: white;
    color: #00264d;
    outline: none;
    cursor: pointer;
	text-align:center;

    /* Font settings */
    font-weight: bold;
}
#yea{
    border-color: #9bc7de transparent;
    border-width: 1.4px 1.4px 0 8px ;

	 width: 114px;
	 height:30px;
    padding: 4px;
    margin: 0 auto;

    /* Styles */
    background: white;
    color: #00264d;
    outline: none;
    cursor: pointer;
    text-align:center;
    /* Font settings */
    font-weight: bold;
}
.yeaClass{
	padding-left:4pt;
}

